.button {
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-medium);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  border-radius: var(--radius-small);
  transition:
    250ms background-color ease,
    250ms color ease;
  cursor: pointer;

  &--primary:not(&--is-disabled) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--primary-color);
    }
  }

  &--secondary:not(&--is-disabled) {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--secondary-color);
    }
  }

  &--full {
    width: 100%;
  }

  &--is-disabled {
    background-color: var(--gray);
    color: #000;
    cursor: not-allowed;
  }
}
