:root {
  --primary-color: #6528F7;
  --secondary-color: #F31559;
  --gray: #8E8C8C;

  --font-small: .8rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-larger: 2rem;

  --spacing-smaller: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  --radius-small: 6px;
  --radius-medium: 12px;
  --radius-large: 18px;
}