:root {
  --primary-color: #6528f7;
  --secondary-color: #f31559;
  --gray: #8e8c8c;
  --danger: red;

  --font-small: 0.8rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-larger: 2rem;

  --spacing-smaller: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  --radius-small: 6px;
  --radius-medium: 12px;
  --radius-large: 18px;
}
